# CLion specific IDE config files
.idea

# Make results
iso
*.iso
*.o
*.elf

# VM files
*.qcow2

# Rust build artifacts
/target
userland/console_server/target
userland/cap_test/target
userland/nameservice/target
userland/storage_ata/target
userland/fs_fat32/target

# Assembled userland test binaries
userland/*.bin
